*{
    margin:0px;
    padding:0px;
}

header{
    padding:10px;
    text-align:center;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

img{
    margin:30px;
    float:right;
    height: 300px;
    width: 250px;
    border: 2px solid #090303;
}


div>p{
    padding:20px;
    margin:10px;
    color:white;
    letter-spacing: 1px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
    text-align: justify;
}
